/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family: Arial,'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, sans-serif;
    font-size:18px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:left;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

* {
    -webkit-user-select: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size:14px;
    height:100%;
    width:100%;
    padding:0;
    margin:0;
    border:0;
    position: fixed;
}

a {
    color: inherit;
    text-decoration: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/*Inicio estilos de la cabecera*/
#header {
    position:absolute; z-index:2;
    top:0; left:0;
    width:100%;
    background: #118eba;
    border-bottom: 1px solid #0e5771;
    padding:0;
    color:#eee;
    font-size:14px;
    line-height: 45px;
    text-align:center;
    height: 45px;
}

#header .btn {
    position: absolute;
    top: 5px;
    left: 5px;
    width:17%;
    line-height: 36px;
    background-color:#46b7f1;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#header .btn:active {
    background-color:#0f6f91;
}

.logo{
    height:32px;
    width:auto;
    margin-top:6px
}
/*Fin estilos de la cabecera*/

/*Inicio estilo del cuerpo*/
#cuerpo{
    background:#fff;
    position:absolute;
    width: 100%;
    height:100%;
}

#cuerpo h1{
    font-size:20px;
    line-height:30px
}

.borde-h1{
    width:5px;
    float:left;
    height:30px;
    margin-right:5px
}

#contenidoCuerpo{
    margin:10px
}
/*Final estilos del cuerpo*/

/*Inicio estilos del menu principal*/
#menuprincipal{
    background:url(../img/fondo.jpg) repeat;
    position:absolute;
    width: 100%;
    height: 100%;
}

#wrapperMenu {
    position:absolute; z-index:1;
    top:0;
    bottom:0; left:0;
    height:100%;
    width:80%;
    overflow:auto;
}

.borde-menu{
    width:5px;
    float:left;
    left:0px;
    height:100%;
    margin-right:10px
}

.color1{
    background:#2ed877;
}

.color2{
    background:#3398dc;
}

.color3{
    background:#f4c601;
}

.color4{
    background:#fa5039;
}

.color5{
    background:#f9870b;
}

.color6{
    background:#00c8a4;
}
/*Fin del estilo del menu principal*/

/*Inicio estilos de las capas internas de los iscroll, tanto cuerpo como menu*/
.scroller {
    position:absolute; z-index:1;
    width:100%;
    padding:0;
}

.scroller ul {
    list-style:none;
    padding:0;
    margin:0;
    width:100%;
    text-align:left;
}

.scroller li:first-child {
    padding:0 10px;
    border-bottom:1px solid #202328;
    border-top:1px solid #202529;
    background-color:#202529;
    height:44px;
    line-height:44px;
    font-size:14px;
    text-align:center;
}

.scroller li {
    border-bottom:1px solid #202328;
    border-top:1px solid #202529;
    background-color:#181c1f;
    height:88px;
    color:#fff
}


.li-menu-activo{
    background-color:#323a40 !important;
}

.scroller li a{
    width:100%;
    text-decoration: none;
}

.scroller li .opcion{
    width:100%;
    padding-top:20px;
    font-size:16px;
    text-shadow: 0 1px #000;
}

.scroller li .descripcion{
    width:100%;
    padding-top:10px;
    color:#6e7679;
    font-size:12px;
    text-shadow: 0 1px #000;
    padding-bottom:25px
}
/*Fin estilos de las capas internas de los iscroll, tanto cuerpo como menu*/

/*Inicio código de posición y transición de las páginas*/
.page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.page.center {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.page.right {
    -webkit-transform: translate3d(80%, 0, 0);
    transform: translate3d(80%, 0, 0);
}

.page.transition {
    -webkit-transition-duration: .25s;
    transition-duration: .25s;
}
/*Fin código de posición y transición de las páginas*/


.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}
.text-justify {
    text-align: justify;
}
.text-primary {
    color: #428bca;
}

iframe { margin:0; padding:0; height:100%; }
iframe { display:block; width:100%; border:none; }